<a href="https://colab.research.google.com/github/NafisaTabassum300/Python-Basics-ASDS-JU-/blob/main/Nafisa_Assignment_on_python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Name: Nafisa Tabassum
# Student ID: 20229035
9th Batch, ASDS, JU.

***1. Write a Python program to count the number of characters (character frequency) in a string.***

In [ ]:
sample = input("Your input string =")
character_frequency = {}        #An empty dictionary is assigned to store the frequency of each character in the input string.
for n in sample:                # for loop will iterate over each character of the input 
  if n in character_frequency:
    character_frequency[n]+=1   #Checks if the current character n is already a key in the character_frequency dictionary. 
                                #If it is, the code increments the corresponding value by 1 using the += operator.
    
  else:
    character_frequency[n]=1
print(character_frequency)

Your input string =google
{'g': 2, 'o': 2, 'l': 1, 'e': 1}

***2. Write a Python program to check if a given key already exists in a dictionary ***

In [ ]:
existing_dict= {'g': 2, 'o': 2, 'l': 1, 'e': 1}
key = input("Input your key: ")
if key in existing_dict:     #Checks if the key entered by the user is present in the dictionary existing_dict 
  print(key, 'already exists in the dictionary')
else:
  print(key, 'does not exist in the dictionary')

Input your key: e
e already exists in the dictionary

Here, difference between question no. 1 and 2 is, in the 1st question, we had to check each of the charcters of the key and make some increament. So, we have used for loop there. in the second problem, it's a direct if/else problem,  no iteration is needed.

***3. Write a Python program that accepts a sequence of comma-separated numbers from the
user and generates a list and a tuple of those numbers.***

In [ ]:
data = input('Input some numbers seperated by comma :  ')

data_list =  data.split(',')
data_tuple = tuple(data_list)

print('Given data converted to list: ', data_list)
print('Given data converted to tupple: ', data_tuple)

Input some numbers seperated by comma :  1,5,7,23
Given data converted to list:  ['1', '5', '7', '23']
Given data converted to tupple:  ('1', '5', '7', '23')

***4. Write a Python program to calculate the number of days between two dates.***

In [8]:
from datetime import date

year1 = int(input("Input your 1st year: "))  #input strings are converted to integer
month1 = int(input("Input your 1st month (values should be in between 1 to 12): "))
day1 = int(input("Input your 1st day (values should be in between 1 to 31): "))
date1 = date(year1, month1, day1)            # Creates a date object for the first date using the date() function from the datetime library.

year2 = int(input("Input your 2nd year: "))
month2 = int(input("Input your 2nd month (values should be in between 1 to 12): "))
day2 = int(input("Input your 2nd day (values should be in between 1 to 31): "))
date2 = date(year2, month2, day2)

difference = date1 - date2         
day_difference = abs(difference.days)      #difference will be shown as absolute number of whole days.

print("Difference between the two dates,", date1, "&", date2, "are ", day_difference, "days")

Input your 1st year: 2014
Input your 1st month (values should be in between 1 to 12): 7
Input your 1st day (values should be in between 1 to 31): 2
Input your 2nd year: 2014
Input your 2nd month (values should be in between 1 to 12): 7
Input your 2nd day (values should be in between 1 to 31): 11
Difference between the two dates, 2014-07-02 & 2014-07-11 are  9 days

***5. Write a Python program to solve (x + y) * (x+y)***

In [10]:
x = int(input("x = "))
y = int(input("y = "))

result = (x+y) * (x+y)

print("(",x,'+',y,")^2 = ", result)

x = 4
y = 3
( 4 + 3 )^2 =  49

***6. Write a Python program to compute the future value of a specified principal amount, rate of interest, and number of years.***

In [14]:
#Considering compound rate of interest

amt = float(input("Input present amount: "))
interest = float(input("Input interest rate (in percent): "))
years = int(input("Input number of years: "))

future_value = amt*(1+ (interest)/100)**years   #for simple rate of interest, the formula will be amt*(1+(interest*years)/100)
future_value = round(future_value,2)

print("Future value of given amount is = ", future_value)

Input present amount: 10000
Input interest rate (in percent): 3.5
Input number of years: 7
Future value of given amount is =  12722.79

***7. Write a Python program that removes duplicate elements from a given array of numbers so that each element appears only once and returns the new length.***

In [1]:
import numpy as np

sample_input = input("Input values seperated by commas (duplicates allowed): ")
sample_list = sample_input.split(",")      #Here, the string is converted into list
sample = np.array(sample_list)             #np.unique() can't directly work with list, it needs to be converted into array.
unique = np.unique(sample)                 #we can also use list(set(sample_list)) to pick the unique values as set doesn't contain any duplicate value.
length = len(unique)

print("The list of unique numbers :", unique)
print("Length of the unique list :", length)

Input values seperated by commas (duplicates allowed): 0,0,1,1,2,2,2,3,3,3,4,4,4,4,4
The list of unique numbers : ['0' '1' '2' '3' '4']
Length of the unique list : 5

***8. Write a Python program to sort (ascending and descending) a dictionary by key value.***

In [2]:
given = { 'b': 4, 'e': 2, 'f': 5, 'a': 9}

#For sorting a dictionary by key value in ascending order:  
ascending_by_key = dict(sorted(given.items()))      #Here, ascending order means alphabetic ascending order

#For sorting a dictionary by key value in discending order:
discending_by_key = dict(sorted(given.items(), reverse = True))

print("Given dictionary =", given)
print("Sorting given dictionary by key value in ascending order =", ascending_by_key)
print("Sorting given dictionary by key value in discending order =", discending_by_key)

Given dictionary = {'b': 4, 'e': 2, 'f': 5, 'a': 9}
Sorting given dictionary by key value in ascending order = {'a': 9, 'b': 4, 'e': 2, 'f': 5}
Sorting given dictionary by key value in discending order = {'f': 5, 'e': 2, 'b': 4, 'a': 9}

***9. Write a Python program to add key to a dictionary.***

In [3]:
sample = {0:10, 1:20}
sample[2] = 30

print(sample)

{0: 10, 1: 20, 2: 30}

***10. Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index label***

In [5]:
import pandas as pd
import numpy as np     #As the dataset contains np.nan in score, we need to import numpy library. If there was no NaN value, we could avoid importing numpy.

exam_data = {'name': ['Arif', 'Asir', 'Arik', 'Anis', 'Anil', 'Ashish', 'Anahi', 'Alia', 'Alvin', 'Asim'],
             'score': [12.5, 9, 16.5, 14, 9, 20, 14.5, 18, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index = labels)           #If we didn't define the index label, it would take 0, 1, 2, .... by default.

print(df)

     name  score  attempts qualify
a    Arif   12.5         1     yes
b    Asir    9.0         3      no
c    Arik   16.5         2     yes
d    Anis   14.0         3      no
e    Anil    9.0         2      no
f  Ashish   20.0         3     yes
g   Anahi   14.5         1     yes
h    Alia   18.0         1      no
i   Alvin    8.0         2      no
j    Asim   19.0         1     yes